name: Test
"on":
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    strategy:
      matrix:
        node-version:
          - 20.8.1
          - 20
          - 22
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm clean-install
      - name: Ensure dependencies are compatible with the version of node
        run: npx ls-engines
      - run: "npm run test"
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm clean-install
      - run: npm run lint
      # https://github.com/lirantal/lockfile-lint#readme
      - name: Scan lockfile for security issues
        run: npx lockfile-lint --path package-lock.json
