name: Test
"on":
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    strategy:
      matrix:
        node-version:
          - 20.8.1
          - 20
          - 21
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm clean-install
      - name: Ensure dependencies are compatible with the version of node
        run: npx ls-engines
      - run: "npm run test"
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm clean-install
      - run: npm run lint
      # https://github.com/lirantal/lockfile-lint#readme
      - name: Scan lockfile for security issues
        run: npx lockfile-lint --path package-lock.json
