name: Test
"on":
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    strategy:
      matrix:
        node-version:
          - 20.8.1
          - 20
          - 22
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm clean-install
      - name: Ensure dependencies are compatible with the version of node
        run: npx ls-engines
      - run: "npm run test"
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm clean-install
      - run: npm run lint
      # https://github.com/lirantal/lockfile-lint#readme
      - name: Scan lockfile for security issues
        run: npx lockfile-lint --path package-lock.json
